body {
    min-height: 70vh;
    display: grid;
    place-items: center;
}


.App {
    min-width: 250px;
    height: auto;
    padding: 1rem;
    background-color: #252831;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
}

.screen {
    height: 50px;
    padding: 0.5rem;
    margin-block: 1rem;
    background-color: #202028;
    display: grid;
    place-content: flex-end;
}

.dials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.dials button {
    min-width: 35px;
    text-align: center;
    padding: 0.5rem;
    background-color: #202028;
    border: none;
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 3px #bbb;
}

svg {
    cursor: pointer;
}

svg path {
    cursor: pointer;
    fill: #fff;
    opacity: 0.3;
}

.active svg path {
    opacity: 1;
}

.light-mode.App {
    background-color:  #fff;
    box-shadow: 0.5px 0.5px 3px #bbb;
    color: #252831 ;
} 

.light-mode.App .screen {
    height: 50px;
    padding: 0.5rem;
    margin-block: 1rem;
    background-color: #fff;
    display: grid;
    place-content: flex-end;
    box-shadow: 0.5px 0.5px 3px #bbb;
}

.light-mode.App .dials button {
    min-width: 35px;
    text-align: center;
    padding: 0.5rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 3px #bbb;
}

.light-mode.App svg path {
    cursor: pointer;
    fill: #202028;
}